.card-img-overlay {
    top:unset;
    background-color: #0000008c;
}
.titre{
    text-align: center;
    background-color:rgba(223, 22, 132, 0.959); 
    min-height: 80px;
    color: #000;
   padding-top: 20px;
    font-family: 'Lobster', cursive;

}

.navbar2{
    border:none ;
    box-shadow: 0 0 12px rgba(0,0,0,.25);
    color:rgba(223, 22, 132, 0.959) !; 
    background-color: #232121;
}

  a{
    color:  rgba(223, 22, 132, 0.959);
    text-decoration: none;
    background-color: transparent;
  }

  .alert{
      margin-top:20px;
      padding: 0px;
    border: 0px;
    }

    .alertInfo{
        background-color: #c528288c;
        color: white;
    }

    .customcard img{
        height: 15vw;
        object-fit: cover;
      }

/*footer*/

.bg-primary {
    background-color: #232121d4!important;
   }
   
   .bg-circle
   {
     display: inline-block;
     width: 60px;
     height: 60px;
     padding: 14px 4px;
     color: #ececec;
     text-align: center;
     border-radius: 50%;
   }
   
   .bg-circle-outline
   {
     width: 50px;
     height: 50px;
     color:smoke;
     padding: 8px 2px;
     border: 2px solid;
     border-color: smoke;
     border-radius: 50%;
   }
   
   
   .bg-circle a, a:hover, .media a:focus
   {
     text-decoration: none !important;
     outline: none;
     color: #ececec;
   }
   .bg-circle-outline a, a:hover, .media a:focus
   {
     text-decoration: none !important;
     outline: none;
     color: #ececec;
   }
   
   /*navbar*/
   .nav-link.active {
    background-color: rgba(223, 22, 132, 0.959);
    color: white !important;
}

.navbar a {
    float: left;
    color: rgba(223, 22, 132, 0.959);
    background-color: #232121d4;
}
   
.navbar a:hover {
    background-color: #ddd;
    color:  #000
}

.navbar-nav{
    margin-left: auto;
}

.navbar{
    background-color: #ffffffd6;
 
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    height: 100px;
}
a{
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link{
    color: rgb(247 245 245 / 97%);
 
}
a.navbar-brand{
    background-color:rgba(223, 22, 132, 0.959); 
}



.titre2{
    text-align: center;
    background-color:rgba(223, 22, 132, 0.959);   
    min-height: 80px;
    color: #000;
  padding-top: 20px;
    font-family: 'Lobster', cursive;
}

input[type="submit" i]{
    background-color: #007bff;
    color: #fff;
}

/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container */
  .container {
    position: relative;
    /* display: none; */
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }


#div1{
    text-align: center;
    background-color: rgba(169, 169, 169, 0.253) ;
    height: 250px;
    margin-top: 40px;
 }
 form{
    border-radius: 8px;
     margin-top: 40px;
     background-image: url('img/plage.jpg');
    
   
}
.img-formul{
    
    background-color: rgb(212, 199, 212);
 
    
}
    
.row{
    justify-content: space-around;
    width: 100%;
    margin-left: 0px;

}

.col-md-6 {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    min-width: 50%;
    background-color:rgba(85, 85, 85, 0.603);
    color:#fff;
    border-radius: 8px;
    margin-bottom: 30px;
    
   }

   .col-sm-6-merci{
     margin-top: 400px;
   }
.btn-primary {
    color: #fff;
    background-color: rgba(223, 22, 132, 0.959); 
    border-color:#fff;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:20px;
  }
}
.col-md-9-tete{
    background-color: tomato;
}
.card-text2{
    font-family:  'Lobster Two', cursive;
    font-size: 18px;
}
h2{
    font-family: 'Vollkorn', serif;
    text-align: center;
    color: #000;
    text-shadow: black 1px 1px;
}

.tete-contact{
  color: #000;
  margin-top: 20px;
}

.card-img-overla{
  text-align: center;
}
.col12.col-md-12-tete{
  color: #fff;
  
}
.rounded-circle{
 margin-top: 30px;
}
h1{
  margin-top: 20px;
  margin-left: 20px;
  color: #000;
  text-align: center;
}
.col-md-4.logo{
  background-color: rgba(245, 245, 220, 0.705);
  text-align: center;
 
}
p{
  text-align: center;
}
h3{
  text-align: center;
}

.col-md-12-map{
  width: 100%;
  background-color:#fff;
  text-align: center;
  
}

/*scrfoll down confimation*/

.top-container {
  background-image: url('img/soleil.jpg');
  padding: 30px;
  text-align: center;
}


.header {
  padding: 10px 16px;
  background: rgba(223, 22, 132, 0.959); 
  color: #000;
  z-index: 500;
  height: 108px;
}

.content {
  padding: 16px;
  margin-top: 100px;

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
